<h1> Edit </h1>

  <%= form_for(@user) do |user| %>
	<p> <%= user.label :first_name %> </p>
    <p> <%= user.text_field :first_name %> </p>
    <p> <%= user.label :last_name %> </p>
    <p> <%= user.text_field :last_name %> </p>
    <p> <%= user.label :title, 'Relationship to the child:' %></p>
    <p> <%= user.select :title, ['Parent', 'Grandparent', 'Nanny', 'Babysitter', 'Aunt', 'Uncle'] %></p>
    <%= user.submit %>

<%end%>

